<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Availability: Cronofy Developer Demo</title>

    <link href="/app.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper__outer">
        <div class="wrapper__inner">

            <a href="/" class="link--secondary">Back to homepage</a>

            <h1>Book an event</h1>
            <p>Pick a day and time that works for you</p>

            <div class="element__wrapper">
                <div id="cronofy-date-time-picker"></div>
            </div>

        </div>

        <script src="https://elements.cronofy.com/js/CronofyElements.v1.56.2.js"></script>
        <script>

            const dateTimePickerOptions = {
                element_token: "<%= element_token %>",
                data_center: "<%= data_center %>",
                target_id: "cronofy-date-time-picker",
                availability_query: {
                    participants: [
                        {
                            required: "all",
                            members: [
                                { sub: "<%= sub %>" }
                            ]
                        }
                    ],
                    required_duration: { minutes: 60 },
                    available_periods: [
                        { start: "2024-09-15T00:00:00Z", end: "2024-09-16T20:00:00Z" }
   
                    ]
                },
                callback: res => {
                    if (res.notification.type !== "slot_selected") return;

                    const slot = JSON.stringify(res.notification.slot);
                    window.location.href = `/submit?slot=${slot}`;
                }
            };

            if ("<%= element_token %>" !== "invalid") {
                CronofyElements.DateTimePicker(dateTimePickerOptions);
            } else {
                const errorMessageWrapper = document.querySelector('#cronofy-date-time-picker');
                errorMessageWrapper.innerHTML = "<span class='error'>There was a problem generating the element token. Check that your <code>CLIENT_ID</code>, <code>CLIENT_SECRET</code>, and <code>SUB</code> environment variables are correct.</span>"
            }

        </script>

        
    </div>
</body>
</html>
